<section
  class="flex items-center border-2 justify-center h-full text-gray-600 dark:text-gray-50"
>
  <div class="flex flex-col bg-white dark:bg-gray-800 rounded-lg w-10/12"
       *ngIf="schedulesObservable | loadingState | async as schedules">
    <div class="-m-1.5">
      <div class="p-1.5 min-w-full inline-block align-middle">
        <div
          [ngClass]="schedules.data?.length ? '' : 'pb-6'"
          class="border-2 border-solid border-slate-500 rounded-lg divide-y divide-gray-200 dark:border-slate-500 dark:divide-gray-700"
        >
          <h1 class="px-4 py-3 text-2xl font-bold">Gestion des évènements</h1>
          <hr class="border-gray-400 dark:border-gray-800"/>
          <div class="flex gap-x-5 py-4 px-4">
            <app-search-bar [filters]="filters"></app-search-bar>
            <button
              (click)="onWantAdd()"
              class="p-0 rounded-3xl items-center hover:text-blue-400 text-sm outline-blue-500 disabled:opacity-50 disabled:cursor-not-allowed dark:focus:outline-blue-500 dark:focus:ring-1 dark:focus:ring-gray-600"
              title="Ajouter un évènement"
            >
              <svg
                class="size-8"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
            <ng-container *ngIf="idsChecked.length > 0">
              <button
                (click)="onWantDeleteSelection()"
                class="py-2 px-3 inline-flex items-center gap-x-2 text-sm rounded-lg border border-transparent bg-red-500 text-white hover:bg-red-600 disabled:opacity-50 disabled:cursor-not-allowed dark:focus:outline-blue-500 dark:focus:ring-1 dark:focus:ring-gray-600"
                type="button"
              >
                Supprimer la sélection
              </button>
              <div class="flex flex-col h-full my-auto">
                <p>
                  {{ idsChecked.length }} selectionnée{{
                    idsChecked.length > 1 ? "s" : ""
                  }}
                </p>
              </div>
            </ng-container>
          </div>
          <table
            aria-label="Table des évènements du bot"
            class="min-w-full text-center"
          >
            <app-theader [elements]="schedules.data"
                         [allChecked]="Boolean(schedules.data?.length && idsChecked.length === schedules.data?.length)"
                         (toggleAllCheckbox)="toggleAllCheckboxEvent.next()">
            </app-theader>
            <app-tbody [(idsChecked)]="idsChecked" [schedules]="schedules" [clearCheckboxEvent]="clearCheckbox"
                       [toggleAllCheckboxEvent]="toggleAllCheckboxEvent" (wantDelete)="onWantDeleteSelection()" />
          </table>
          <nav
            *ngIf="schedules.data?.length"
            class="flex justify-center gap-x-5 py-3"
          >
            <button
              class="p-2.5 inline-flex items-center gap-x-2 text-md rounded-full text-gray-800 hover:bg-blue-100 disabled:opacity-50 disabled:cursor-not-allowed dark:text-white dark:hover:bg-white/10"
              type="button"
            >
              <span aria-hidden="true">«</span>
              <span class="sr-only">Précédent</span>
            </button>
            <button
              [disabled]="true"
              aria-current="page"
              class="min-w-[40px] bg-blue-500 text-white flex justify-center items-center hover:bg-blue-400 py-2.5 text-md rounded-full disabled:cursor-not-allowed dark:text-white dark:hover:bg-white/10"
              type="button"
            >
              1
            </button>
            <button
              class="min-w-[40px] flex justify-center items-center text-gray-800 hover:bg-blue-100 py-2.5 text-md rounded-full disabled:opacity-50 disabled:cursor-not-allowed dark:text-white dark:hover:bg-white/10"
              type="button"
            >
              2
            </button>
            <button
              class="min-w-[40px] flex justify-center items-center text-gray-800 hover:bg-blue-100 py-2.5 text-md rounded-full disabled:opacity-50 disabled:cursor-not-allowed dark:text-white dark:hover:bg-white/10"
              type="button"
            >
              3
            </button>
            <button
              class="p-2.5 inline-flex items-center gap-x-2 text-md rounded-full text-gray-800 hover:bg-blue-100 disabled:opacity-50 disabled:cursor-not-allowed dark:text-white dark:hover:bg-white/10 dark:focus:outline-blue-500 dark:focus:ring-1 dark:focus:ring-gray-600"
              type="button"
            >
              <span class="sr-only">Suivant</span>
              <span aria-hidden="true">»</span>
            </button>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<app-event-modal-delete [(isAlertDelete)]="isAlertDelete" (clearCheckbox)="clearCheckbox.next()"
                        (onDeleteSelected)="onDeleteSelected()"
                        [idsChecked]="idsChecked"></app-event-modal-delete>
<app-event-modal-add [(isAlertAdd)]="isAlertAdd"></app-event-modal-add>
