<div
  class="hs-overlay w-full h-full fixed top-0 start-0 overflow-x-hidden overflow-y-auto"
  [ngClass]="isAlertAdd ? 'open z-[80]' : 'z-[-10]'"
>
  <div
    class="w-full h-full absolute z-[-10] bg-gray-800 opacity-65"
    [hidden]="!isAlertAdd"
  ></div>
  <div
    class="hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 mt-0 opacity-0 ease-out transition-all max-w-3xl sm:w-full m-3 sm:mx-auto"
  >
    <div
      class="bg-white border border-gray-200 rounded-xl shadow-sm dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="p-4 sm:p-7">
        <div class="text-center">
          <h2 class="block text-2xl font-bold text-gray-800 dark:text-gray-200">
            Ajouter un évènement
          </h2>

          <!-- Form -->
          <form class="m-6">
            <div class="flex justify-between">
              <app-date-picker
                class="w-6/12"
                [(dates)]="dates"
              ></app-date-picker>
              <app-time-picker
                class="w-5/12"
                [(times)]="times"
              ></app-time-picker>
            </div>

            <div class="mt-4">
              <div class="flex justify-end gap-x-6">
                <button
                  type="button"
                  class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 text-white bg-blue-500 shadow-sm hover:bg-blue-600 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                  data-hs-overlay="#hs-danger-alert"
                  (click)="onSubmit()"
                >
                  Ajouter
                </button>
                <button
                  type="button"
                  class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-red-500 text-white shadow-sm hover:bg-red-600 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                  data-hs-overlay="#hs-danger-alert"
                  (click)="onCancel()"
                >
                  Annuler
                </button>
              </div>
            </div>
          </form>
          <!-- End Form -->
        </div>
      </div>
    </div>
  </div>
</div>
